{% extends "layout.html" %}
{% load static %}
{% block extra_js %}
{% comment %} <script src="{% static 'js/farm.js' %}" defer></script> {% endcomment %}
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/farm_page.css" %}">
{% endblock %}

{% block title %}
    {{ farm.name }}      
{% endblock  %}

{% block content %}
    <section class="farm">
        <article class="farm-basics">
            <h1 class="farm-name">{{ farm.name }}</h1>
            <p class="farm-detail">{{ farm.size_hectares }} ha</p>
            <p class="farm-detail">latitude: {{ farm.farm_lat }}</p>
            <p class="farm-detail">longitude: {{ farm.farm_long }}</p>
        </article>
    
    <p>Date added: {{ farm.date }}</p>
    </section>
    
{% endblock  %}