{% extends "layout.html" %}
{% load static %}
{% block extra_js %}
{% comment %} <script src="{% static 'js/farm.js' %}" defer></script> {% endcomment %}
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/farm_new.css" %}">
{% endblock %}

{% block title %}
    New Farm   
{% endblock  %}

{% block content %}
    <body>
        {% comment %} Start for one farm: plots, coordinates (for weather and growing seasons), crops  {% endcomment %}
        <div>
            <form method="post" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
                <div class="form-section">
                    <h2 class="form-section-h2">Farm basics</h2>
                    <div class="form-group">
                        <label for="farm_name" class="form-group-label">Name</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    
                    <div class="form-group">
                        <label for="farm_size" class="form-group-label">Size (hectares)</label>
                        {{ form.size_hectares }}
                        {{ form.size_hectares.errors }}
                    </div>
                    
                    <div class="form-group">
                        <label for="farm_location" class="form-group-label">Location</label>
                        {{ form.farm_lat }}
                        {{ form.farm_lat.errors }}
                        {{ form.farm_long }}
                        {{ form.farm_long.errors }}
                    </div>
                    <button type="submit" class="form_submit">Save</button>
                </div>
            </form>
        </div>
        {% comment %} crop selections {% endcomment %}
        {% comment %} display the farm - this is where blocks will be edited {% endcomment %}
        {% comment %} display the weather {% endcomment %}
    </body>
{% endblock  %}