{% extends "layout.html" %}
{% load static %}
{% block extra_js %}
{% comment %} <script src="{% static 'js/farm.js' %}" defer></script> {% endcomment %}
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/farm_new.css" %}">
{% endblock %}

{% block title %}
    New Farm   
{% endblock  %}

{% block content %}
    <body>
        {% comment %} Start for one farm: plots, coordinates (for weather and growing seasons), crops  {% endcomment %}
        <div>
            <div class="form-section">
                <h2 class="form-section-h2">Farm basics</h2>
                <div class="form-group">
                    <label for="farm_name" class="form-group-label">Name</label>
                    <input type="text" id="farm_name" name="farm_name" required>
                </div>
                
                <div class="form-group">
                    <label for="farm_size" class="form-group-label">Size (hectares)</label>
                    <input type="number" id="farm_size" name="farm_size" required>
                </div>
                
                <div class="form-group">
                    <label for="farm_location" class="form-group-label">Location</label>
                    <input type="text" id="farm_location" name="farm_location" placeholder="latitude" required>
                    <input type="text" id="farm_location" name="farm_location" placeholder="longitude" required>

                </div>
            </div>
        </div>
        {% comment %} crop selections {% endcomment %}
        {% comment %} display the farm - this is where blocks will be edited {% endcomment %}
        {% comment %} display the weather {% endcomment %}
    </body>
{% endblock  %}