{% extends "layout.html" %}
{% load static %}
{% block extra_js %}
<script src="{% static 'js/farm_page.js' %}" defer></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% comment %} <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script> {% endcomment %}

{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/farm_page.css" %}">
{% comment %} <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" /> {% endcomment %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

{% endblock %}

{% block title %}
    {{ farm.name }}      
{% endblock  %}

{% block content %}
    <section class="farm">
        <article class="farm-basics">
            <h1 class="farm-name">{{ farm.name }}</h1>
            <p class="farm-detail">{{ farm.size_hectares }} ha</p>
            <p class="farm-detail">latitude: {{ farm.farm_lat }}</p>
            <p class="farm-detail">longitude: {{ farm.farm_long }}</p>
        </article>
        <article class="blocks">
            <h2>Blocks</h2>
            {% if farm.blocks.all %}
                <ul class="block-list">
                    {% for block in farm.blocks.all %}
                        <li class="block-item">
                            <h3 class="block-name">{{ block.name }}</h3>
                        </li>
                    {% endfor %}
                </ul>
            </article> 
            {% else %}
                <p>No blocks available for this farm.</p>
            {% endif %}

            <div id="map" style="height: 200px; width: 100%;"></div>
            
    <p>Date added: {{ farm.date }}</p>
    </section>
    
{% endblock  %}