.farm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.farm-basics {
    background-color: #ffffff;
    padding: 1rem 1.25rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #e4e4e4;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    width: 85%;
}

.farm-name, .farm-detail {
    padding: 0 0.5rem;   
}