{% extends "layout.html" %}
{% load static %}
{% block extra_js %}
<script src="{% static 'js/operations.js' %}" defer></script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/op_new.css" %}">
{% endblock %}

{% block title %}
    New Operation   
{% endblock  %}

{% block content %}
    <body>


        <div class="form-container" action="">
            <form method="get" action="">
                {% csrf_token %}
                {% comment %} {{ form.operation_type }} {% endcomment %}
                <p class="form-title">Reecord type: </p>
                <select name="operation_type" id="operation_type" onchange="this.form.submit()" required>
                    <option value="">-- Select Operation Type --</option>
                    <option value="FERT">Fertilization</option>
                    <option value="IRR">Irrigation</option>
                    <option value="PLANT">Planting</option>
                    <option value="HARV">Harvesting</option>
                    <option value="PEST">Pesticide Application</option>
                </select>
                {% comment %} <button type="submit">Create Operation</button> {% endcomment %}
            </form>
            <form method="post" id='operation_form_body'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-btn">Save</button>
            </form>
        </div>
    </body>
{% endblock  %}