{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block title %}
    Home
{% endblock  %}

{% block content %}
    
<section class="hero-container">
    <img src="../media/ISA_farm.jpg" alt="Farm field" class="hero-image">
    <div class="hero-content">
        <h1>Easier Farming Tech</h1>
        <p>MyFarmTech helps you to improve soil health while reducing your time on the computer</p>
        {% comment %} <a href="#contact" class="cta-button">Get Started</a> {% endcomment %}
    </div>
</section>
<section class="how-it-works">
    <div class="steps">
        <div class="step">
            <span class="step-number">1</span>
            <h3>Setup your farm details once</h3>

        </div>
        <div class="step">
            <span class="step-number">2</span>
            <h3>Input your data when you normally would</h3>
        </div>
        <div class="step">
            <span class="step-number">3</span>
            <h3>Record better, share better and receive better information</h3>
        </div>
    </div>
</section>
<section class="cta" id="contact">
    <h2>Ready to Farm Smarter?</h2>
    <p>Improve your farm's soil with less effort.</p>
    <form class="contact-form">
        <input type="email" placeholder="Your Email" required>
        <button type="submit" class="cta-button">Request a Demo</button>
    </form>
</section>
{% endblock  %}

