<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="">
        {% url '/' as home_url %}
        {% url 'users/login' as login_url %}
        {% comment %} <a href="/">home</a> |  {% endcomment %}
        {% comment %} <a href="/about">about</a> |  {% endcomment %}
        {% if request.path != '/' %}
            {% comment %} <a href="/">home</a> {% endcomment %}
        {% endif %}
        {% comment %} <a href="{% url 'posts:list' %}">news</a> | {% endcomment %}
        {% if user.is_authenticated %}
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="log-button" aria-label="User Logout" title="User Logout">logout</button>
            </form> 
        {% else %}
            {% comment %} <a href="{% url 'users:register' %}">register</a> | {% endcomment %}
            {% if request.path != '/users/login/' %}
                <a href="{% url 'users:login' %}" class="log-button">login</a>
            {% endif %}
        {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class='nav'>
                {% if request.path != '/farm_operations/new-op/' %}
                    <a class='nav-item' href="{% url 'farm_operations:new-op' %}">Add</a> 
                {% endif %} 
                {% if request.path != '/data/' %}
                    <a class='nav-item' href="{% url 'farm_operations:new-op' %}">Data</a> 
                {% endif %} 
                {% if request.path != '/farms/' %}
                    <a class='nav-item' href="{% url 'farms:list' %}">Setup</a> 
                {% endif %} 
            </div>
        {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>